header {
    display: flex;
    background-color: black;
    height: auto;
    justify-content: space-between;
    padding: 0px 2%;
}

.logo img {
    border-radius: 50%;
    width: 25%;
    height: auto;
}

.nav {
    align-items: center;
    justify-content: space-between;
}

.dropdown .btn:focus {
    box-shadow: none !important;
}

.nav li a {
    color: white;
}

.nav li a:hover {
    color: blue;
}

.body {
    background-color: rgb(138, 138, 138);
}

.carousel {
    text-align: center;
    padding: 5% 0px;
}

.carousel-item {
    width: 100%; 
    height: auto;
}

.carousel-image {
    width: 600px;
    height: 400px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.card {
    width: 20%;
    background-color: white;
    text-align: center;
}

.form {
    justify-content: center;
    padding: 5%;
}

.form h3{
    color: white;
    text-align: center;
}

.form-label {
    background-color: black;
    padding: 2%;
    margin: 0px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
}